@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

/*
body{
    background-image: url('../assets/background/globos.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
*/


/*
body{
    background-color: aqua;
}
*/
html{
    font-family: 'poppins';
}

.bordesRedondeados{
    border: solid 5px black;
    border-radius: 20px;
}

#encabezados{
    font-family: 'poppins';
    font-size: 50px;
    font-weight:lighter;
    text-align:center;
    color:red;
}


p{
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

a{
    text-decoration: none;
}

.listasDesordenadas{
    list-style-type: none;
}

.titleHeader{
    text-align: center;
    font-size: 40px;
    background-image: url('../assets/background/backgroundPaper.jpg');
    background-position: center;
    margin: 0px;
    color: black;
}

.navHome ul{
    
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.navHome ul li a{
    margin: 4px;
    color: black;
}

.navHome ul li a:hover{
    text-decoration: underline;
}

#principal{
    padding: 15px;
    background-image: url('../assets/background/backgroundColor.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Metodologia BEM*/

.contenedor{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

/*Bloque 1*/

.tarjeta{
    background-color: gray;
    padding: 20px;
}

.tarjeta__miniatura{
    width: 650px;
    height: 200px;
    margin-right: 20px;
}

.tarjeta__imagen{
    width: 50%;
    border-radius: 20px;
}

.tarjeta__titulo{
    font-family: 'poppins';
    font-size: 20px;
    margin-bottom: 20px;
}

.tarjeta__enlace{
    color: black;
}

.tarjeta__parrafo{
    line-height: 25px;
    margin-bottom: 20px;
}

/*Bloque 2*/
.boton{
    display: inline-block;
    padding: 12px 25px;
    background-color: #000;
    border-radius: 10px;
    text-decoration: none;
}

.boton__texto{
    color: #fff;
    font-size: 18px;
}

/*Modificador BEM*/

.boton--alternativo{
    font-size: 50px;
    font-weight: bold;
}

.padre{
    position: relative;
    top: 40px;
    left: 200px;
    border: dotted 5px black;
    padding: 5px;
    font-size: 20px;
    width: 200px;
    height: 150px;
    
}

.hijo{
    background-color: blue;
    width: 200px;
    height: 200px;
}

.encabezadoAlina{
    display: inline-block;
}

/*Contenedor padre
.flex-container{
    width: 1000px;
    height: 700px;
    background-color: aqua;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    
}*/

/*Hijos del flex container
.flex-item{
    width: 200px;
    height: 200px;
    background-color: coral;
    color: white;
}

.flex-item:nth-child(odd){
    background-color: forestgreen;
}
*/

.container{
    margin-top: 30px;
    background-color: rgb(204, 197, 197);
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;/*alinea en el eje principal*/
    align-items: flex-start;/*alinea en el eje secundario*/
    flex-wrap: wrap;
}

.caja img{
    width: 350px;
}

.caja{
    margin: 15px;
}

.caja p{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    font-family: 'poppins';
}

#grilla{
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 20% auto 15%;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:    "nav    header     header"
                            "nav    main       aside"
                            "nav    main       aside"
                            ;
}

.nav{
    background-color: brown;
    grid-area: nav;
}

.header-1{
    background-color: greenyellow;
    grid-area: header;
}

.aside-1{
    background-color: coral;
    grid-area: aside;
}

.main-1{
    background-color: black;
    color: white;
    grid-area: main;
}

/*ESTILOS VISTOS EN LA CLASE GRIDSII*/
@font-face {
    font-family: 'poppins';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'poppins';
}

/*header*/

.navbar{
    padding: 10px;
    background-color: gray;
    display: grid;
    grid-template-columns: repeat(8,1fr);
    align-items: center;
}

.navbar .logo{
    width: 60px;
    height: 60px;
    grid-column: 2/3;
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    grid-column: 4/7;
}

.navbar .menu li{
    list-style: none;
}

.navbar .menu a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.navbar .menu-bar{
    display: none;
}

.navbar .shop{
    grid-column: 8/9;
}

/*Main*/

.principal{
    height: 80vh;
    background-image: url('../assets/img/foto-alina.jpg');
    background-size: cover;
    background-position: center;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(8,1fr);
}

.principal .contenido{
    grid-column:7/10;
    grid-row: 3/6;
    color: #fff;
}

.principal h3{
    font-size: 25px;
    font-weight:300;
}

.principal h1{
    font-size: 35px;
    color: yellow;
    text-transform: uppercase;
}

.principal p{
    font-weight: 200;
    font-size: 20px;
}

.principal .boton{
    font-family: 'poppins';
    font-size: 16px;
    font-weight: 600;
    background: none;
    color: yellow;
    padding: 10px 20px;
    border: solid 2px white;
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
}

/*footer*/
.pieDepagina{
    display: grid;
    height: 88px;
    align-items: center;
    background-color: #808080;
    color: yellow;
    grid-template-areas: "desarrollado seguime redes-sociales";
}

.pieDepagina .desarrollado{
    grid-area: desarrollado;
    display: flex;
    justify-content: center;
}

.pieDepagina .seguime{
    grid-area: seguime;
    display: flex;
    justify-content: center;
}

.pieDepagina .redes-sociales{
    grid-area: redes-sociales;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}

/*Mediaqueries*/

@media screen and (max-width: 600px) {
    .navbar{
        position: relative;
    }

    .navbar .shop{
        display: none;
    }

    .navbar .menu-bar{
        display: block;
        grid-column: 8/9;
        font-size: 30px;
        cursor: pointer;
    }

    .navbar .menu{
        display: none;
    }

    /*main*/
    .principal .contenido{
        grid-column: 8/11;
        grid-row: 3/7;
        margin-right: 10px;
    }

    .principal h1{
        font-size: 25px;
    }

    .principal p{
        font-size: 14px;
    }

    .principal .boton{
        font-size: 10px;
        font-weight: 900;
        color: yellow;
        text-transform: uppercase;
        background: black;
        border: solid 1px yellow;
    }

    /*footer*/

    .pieDepagina{
        height: 110px;
    }

    .pieDepagina .seguime{
        display: none;
    }

    .pieDepagina .desarrollado{
        font-size: 15px;
    }
   
}

