@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/*Metodologia BEM*/
.contenedor {
  max-width: 1000px;
  width: 90%;
  margin: 15px auto;
}

/*Bloque 1*/
.tarjeta {
  background-color: gray;
  padding: 20px;
}

.tarjeta__miniatura {
  width: 650px;
  height: 200px;
  margin-right: 20px;
}

.tarjeta__imagen {
  width: 50%;
  border-radius: 20px;
}

.tarjeta__titulo {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  margin-bottom: 20px;
  color: #f10086;
}

.tarjeta__enlace {
  color: #f10086;
  padding: 10px auto;
  font-family: "Poppins", sans-serif;
}

.tarjeta__parrafo {
  line-height: 25px;
  margin-bottom: 20px;
  font-size: 18px;
}

/*Bloque 2*/
.boton {
  display: inline-block;
  padding: 12px 25px;
  background-color: #000;
  border-radius: 10px;
  text-decoration: none;
}
.boton:hover {
  background-color: red;
}

.boton__texto {
  color: #fff;
  font-size: 18px;
}

/*Modificador BEM*/
.boton--alternativo {
  font-size: 50px;
  font-weight: bold;
}

.tarjeta__expo, .tarjeta__proa, .tarjeta__malba {
  width: 50%;
  margin: 20px auto;
  padding: 25px;
  background: #F5E8C7;
  border-radius: 5px;
}

.tarjeta__img, .tarjeta__imgProa {
  width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 12px 0px rgba(0, 0, 0, 0.1);
}

.tarjeta__title {
  margin-top: 10px;
  letter-spacing: 3px;
  font-size: 24px;
  color: #2E4C6D;
  font-weight: 500;
  font-family: "poppins", sans-serif;
}

.tarjeta__bajada {
  font-size: 18px;
  font-weight: 200;
  font-family: "poppins", sans-serif;
}

/*FUNCION @EXTEND*/
/*CONDICIONALES IF*/
/*CICLO- FOR*/
.col-1 {
  font-size: 10%;
}

.col-2 {
  font-size: 20%;
}

.col-3 {
  font-size: 30%;
}

.col-4 {
  font-size: 40%;
}

.col-5 {
  font-size: 50%;
}

.col-6 {
  font-size: 60%;
}

.col-7 {
  font-size: 70%;
}

.col-8 {
  font-size: 80%;
}

.col-9 {
  font-size: 90%;
}

.col-10 {
  font-size: 100%;
}

/*BUCLE EACH 1*/
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.gray {
  background-color: gray;
}

/*BUCLE EACH 2*/
.fondo-gris1 {
  background-color: #ccc;
}

.fondo-gris2 {
  background-color: #aeaeae;
}

.fondo-gris3 {
  background-color: #a4a4a4;
}

/*BUCLE EACH 3*/
.btn--twitter {
  background-color: #55acee;
}

.btn--facebook {
  background-color: #3a5795;
}

.btn--send-mail {
  background-color: #c25e30;
}

/*MAPS*/
.div {
  background-color: #F5E8C7;
  color: pink;
}

/*MAPS 2*/
h1 {
  font-size: 2.5em;
}

.h1 {
  font-size: 2.5em;
}

.h2 {
  font-size: 2em;
}

.h3 {
  font-size: 1em;
}

.h4 {
  font-size: 0.5em;
}

.tarjeta__expo, .tarjeta__malba, .tarjeta__proa {
  border: 2px solid #F5E8C7;
  border-radius: 8px;
  box-shadow: 0px 0px 2px green;
}

.tarjeta__img, .tarjeta__imgProa {
  border: 2px solid #2E4C6D;
  border-radius: 8px;
  box-shadow: 0px 0px 2px black;
}

/*OTRO EJEMPLO DE MIXINS*/
h1 {
  font-size: 2em;
  text-transform: uppercase;
  color: red;
}

h2 {
  font-size: 0.5em;
  text-transform: lowercase;
  color: green;
}

h3 {
  font-size: 0.2em;
  text-transform: capitalize;
  color: blue;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.5em 1em;
  background-color: blue;
}
.button:hover {
  background-color: green;
}
@media screen and (min-width: 640px) {
  .button {
    background-color: red;
  }
}

.cols-5 {
  width: 5%;
}

.cols-10 {
  width: 10%;
}

.cols-15 {
  width: 15%;
}

.cols-20 {
  width: 20%;
}

.cols-25 {
  width: 25%;
}

.cols-30 {
  width: 30%;
}

.cols-35 {
  width: 35%;
}

.cols-40 {
  width: 40%;
}

.cols-45 {
  width: 45%;
}

.cols-50 {
  width: 50%;
}

.cols-55 {
  width: 55%;
}

.cols-60 {
  width: 60%;
}

.cols-65 {
  width: 65%;
}

.cols-70 {
  width: 70%;
}

.cols-75 {
  width: 75%;
}

.cols-80 {
  width: 80%;
}

.cols-85 {
  width: 85%;
}

.cols-90 {
  width: 90%;
}

.cols-95 {
  width: 95%;
}

@media screen and (min-width: 640px) {
  .cols-m-5 {
    width: 5%;
  }

  .cols-m-10 {
    width: 10%;
  }

  .cols-m-15 {
    width: 15%;
  }

  .cols-m-20 {
    width: 20%;
  }

  .cols-m-25 {
    width: 25%;
  }

  .cols-m-30 {
    width: 30%;
  }

  .cols-m-35 {
    width: 35%;
  }

  .cols-m-40 {
    width: 40%;
  }

  .cols-m-45 {
    width: 45%;
  }

  .cols-m-50 {
    width: 50%;
  }

  .cols-m-55 {
    width: 55%;
  }

  .cols-m-60 {
    width: 60%;
  }

  .cols-m-65 {
    width: 65%;
  }

  .cols-m-70 {
    width: 70%;
  }

  .cols-m-75 {
    width: 75%;
  }

  .cols-m-80 {
    width: 80%;
  }

  .cols-m-85 {
    width: 85%;
  }

  .cols-m-90 {
    width: 90%;
  }

  .cols-m-95 {
    width: 95%;
  }
}
@media screen and (min-width: 1024px) {
  .cols-l-5 {
    width: 5%;
  }

  .cols-l-10 {
    width: 10%;
  }

  .cols-l-15 {
    width: 15%;
  }

  .cols-l-20 {
    width: 20%;
  }

  .cols-l-25 {
    width: 25%;
  }

  .cols-l-30 {
    width: 30%;
  }

  .cols-l-35 {
    width: 35%;
  }

  .cols-l-40 {
    width: 40%;
  }

  .cols-l-45 {
    width: 45%;
  }

  .cols-l-50 {
    width: 50%;
  }

  .cols-l-55 {
    width: 55%;
  }

  .cols-l-60 {
    width: 60%;
  }

  .cols-l-65 {
    width: 65%;
  }

  .cols-l-70 {
    width: 70%;
  }

  .cols-l-75 {
    width: 75%;
  }

  .cols-l-80 {
    width: 80%;
  }

  .cols-l-85 {
    width: 85%;
  }

  .cols-l-90 {
    width: 90%;
  }

  .cols-l-95 {
    width: 95%;
  }
}
/*
nav {
    background-color: $color-fondo;

    ul{
        margin: 10px;
        padding: 0px;
        list-style-type: none;
        //variable Local
        $color-ul: gray;
        color: $color-ul;

    }

    li{
        font-family: $tipografia-base;
        display: inline-block;
        font-size: $size-fuentes;
    }
    a{
        display: block;
        padding: 10px 12px;
        text-decoration: none;
        &:hover{
            background-color: $color-fuentes;
        }
        &:active{
            font-size: 25px;
            color: blue;
        }
    }
} 
*/
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
/*
body{
  background-image: url('../assets/background/globos.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
*/
/*
body{
  background-color: aqua;
}
*/
html {
  font-family: "poppins";
}

.bordesRedondeados {
  border: solid 5px black;
  border-radius: 20px;
}

#encabezados {
  font-family: "poppins";
  font-size: 50px;
  font-weight: lighter;
  text-align: center;
  color: red;
}

p {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

.listasDesordenadas {
  list-style-type: none;
}

.titleHeader {
  text-align: center;
  font-size: 40px;
  background-image: url("../assets/background/backgroundPaper.jpg");
  background-position: center;
  margin: 0px;
  color: black;
}

.navbar-home ul {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.navbar-home ul li a {
  margin: 4px;
  color: black;
}

.navbar-home ul li a:hover {
  text-decoration: underline;
}

#principal {
  padding: 15px;
  background-image: url("../assets/background/backgroundColor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.padre {
  position: relative;
  top: 40px;
  left: 200px;
  border: dotted 5px black;
  padding: 5px;
  font-size: 20px;
  width: 200px;
  height: 150px;
}

.hijo {
  background-color: blue;
  width: 200px;
  height: 200px;
}

.encabezadoAlina {
  display: inline-block;
}

/*Contenedor padre
.flex-container{
  width: 1000px;
  height: 700px;
  background-color: aqua;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

}*/
/*Hijos del flex container
.flex-item{
  width: 200px;
  height: 200px;
  background-color: coral;
  color: white;
}

.flex-item:nth-child(odd){
  background-color: forestgreen;
}
*/
.flex-container {
  margin-top: 30px;
  background-color: rgb(204, 197, 197);
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /*alinea en el eje principal*/
  align-items: flex-start;
  /*alinea en el eje secundario*/
  flex-wrap: wrap;
}

.caja img {
  width: 350px;
}

.caja {
  margin: 15px;
}

.caja p {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "poppins";
}

#grilla {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 20% auto 15%;
  grid-template-rows: 100px 100px 100px;
  grid-template-areas: "nav    header     header" "nav    main       aside" "nav    main       aside";
}

.nav {
  background-color: brown;
  grid-area: nav;
}

.header-1 {
  background-color: greenyellow;
  grid-area: header;
}

.aside-1 {
  background-color: coral;
  grid-area: aside;
}

.main-1 {
  background-color: black;
  color: white;
  grid-area: main;
}

/*ESTILOS VISTOS EN LA CLASE GRIDSII*/
@font-face {
  font-family: "poppins";
  src: url("../assets/fonts/Poppins-Medium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins";
}

/*header*/
.navbar-home {
  padding: 10px;
  /*background-color: gray;*/
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-items: center;
  /*Gradientes*/
  /*background-image: radial-gradient(red, yellow);*/
  background-image: linear-gradient(to left, red, yellow);
}

.navbar-home .logo {
  width: 60px;
  height: 60px;
  grid-column: 2/3;
  /*transform: translate(200px,300px);*/
  /*transform: rotate(180deg);*/
  /*transform: scale(1,1);*/
  /*transform: skew(10deg, 30deg);*/
  animation-name: rotar_logo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 3s;
}

@keyframes rotar_logo {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(180deg);
  }
  100% {
    transform: rotateX(360);
  }
}
.navbar-home .menu {
  display: flex;
  justify-content: space-around;
  grid-column: 4/7;
}

.navbar-home .menu li {
  list-style: none;
}

.navbar-home .menu a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.navbar-home .menu-bar {
  display: none;
}

.navbar-home .shop {
  grid-column: 8/9;
}

/*Main*/
.principal {
  height: 80vh;
  background-image: url("../assets/img/foto-alina.jpg");
  background-size: cover;
  background-position: center;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(8, 1fr);
}

.principal .contenido {
  grid-column: 7/10;
  grid-row: 3/6;
  color: #fff;
}

.principal h3 {
  font-size: 25px;
  font-weight: 300;
}

/*Animate.css*/
.artista-plastica {
  animation-name: shakeX;
  animation-duration: 5s;
}

.principal h1 {
  font-size: 35px;
  color: yellow;
  text-transform: uppercase;
}

.principal p {
  font-weight: 200;
  font-size: 20px;
}

.principal .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 700;
  color: black;
  padding: 14px 30px;
  border-radius: 30px;
  margin-top: 15px;
  cursor: pointer;
  /*Transiciones*/
  transition: all 3s;
}

.principal .boton:hover {
  transform: translate(-10px);
  color: black;
}

/*footer*/
.pieDepagina {
  display: grid;
  height: 80px;
  align-items: center;
  /*background-color: #808080;*/
  color: yellow;
  grid-template-areas: "desarrollado seguime redes-sociales";
  background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
}

.pieDepagina .desarrollado {
  grid-area: desarrollado;
  display: flex;
  justify-content: center;
  animation-name: flash;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.pieDepagina .seguime {
  grid-area: seguime;
  display: flex;
  justify-content: center;
}

.pieDepagina .redes-sociales {
  grid-area: redes-sociales;
  display: flex;
  justify-content: space-evenly;
  font-size: 20px;
}

.carousel-item {
  max-height: 650px;
}

.item {
  height: 150px;
}

.imagenForm {
  background-image: url("../assets/img/alina-muzzio-wb.jpg");
  background-position: center center;
  background-size: cover;
}

/*Mediaqueries*/
@media screen and (max-width: 600px) {
  .navbar-home {
    position: relative;
  }

  .navbar-home .shop {
    display: none;
  }

  .navbar-home .menu-bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-home .menu {
    display: none;
  }

  /*main*/
  .principal .contenido {
    grid-column: 8/11;
    grid-row: 3/7;
    margin-right: 10px;
  }

  .principal h1 {
    font-size: 25px;
  }

  .artista-plastica {
    animation-name: bounce;
    animation-duration: 2s;
  }

  .principal p {
    font-size: 14px;
  }

  .principal .boton {
    font-size: 10px;
    font-weight: 900;
    color: yellow;
    text-transform: uppercase;
    background: black;
    border: solid 1px yellow;
  }

  /*footer*/
  .pieDepagina {
    height: 110px;
  }

  .pieDepagina .seguime {
    display: none;
  }

  .pieDepagina .desarrollado {
    font-size: 15px;
  }
}
/*Pseudoclases*/
.enlace:active {
  background: #000;
}

.enlace:link {
  color: red;
}

.enlace:visited {
  color: green;
}

.enlace:hover {
  color: gray;
}

.parrafos {
  background-color: gray;
  padding: 10px;
  width: 50%;
  margin: 25px auto;
}

.parrafos p:first-child {
  background-color: red;
}

.parrafos p:last-child {
  background-color: green;
}

.elementos {
  background-color: gray;
  padding: 10px;
  width: 50%;
  margin: 25px auto;
}

.elementos p:last-of-type {
  background-color: blue;
}

.listas {
  background-color: gray;
  padding: 10px;
  width: 50%;
  margin: 25px auto;
}

.listas :nth-child(even) {
  color: white;
  background-color: blue;
  list-style-type: none;
}

.listas :nth-last-child(5) {
  color: white;
  background-color: red;
  list-style-type: none;
}

.formulario .nombre:focus {
  border: solid 2px red;
}

.formulario .email:invalid {
  background-color: gray;
}

@media (min-width: 601px) and (max-width: 900px) {
  .navbar-home {
    position: relative;
  }

  .navbar-home .shop {
    display: none;
  }

  .navbar-home .menu-bar {
    display: block;
    grid-column: 8/9;
    font-size: 30px;
    cursor: pointer;
  }

  .navbar-home .menu {
    display: none;
  }
}
@media (min-width: 901px) and (max-width: 1024px) {
  .navbar-home {
    position: relative;
  }

  .navbar-home .shop {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-home .menu {
    grid-column: 4/8;
    font-size: 16px;
    display: flex;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=estilos.css.map */
